<div class="container-fluid">
    <h2 class="mb30">Список изображений</h2>
    <div class="width100p mb30">
        <button type="button" class="btn btn-success" onclick="image.addImageForm()">Добавить изображение</button>
    </div>
    <div class="container-fluid">
        <table class="table table-hover table-striped table-bordered">
            <tr>
                <th class="w200">Наименование лайнера</th>
                <th class="w200">Наименование изображения</th>
                <th class="w300">Ссылка на изображение</th>
                <th>Изображение</th>
                <th></th>
            </tr>
            {{ imageList|raw }}
        </table>
    </div>
</div>